{% extends 'quest/base.html'%}
{% load static %}
{% block content %}
<h1>Privacy Policy</h1>

<p>{{tab.0.testo}}</p>
<p>{{tab.1.testo}}</p>
<p>{{tab.2.testo}}</p>
<p>{{tab.3.testo}}</p>
<p>{{tab.4.testo}}</p>
<p>{{tab.5.testo}}</p>
<p>{{tab.6.testo}}</p>
<p>{{tab.7.testo}}</p>
<p>{{tab.8.testo}}</p>
<p>{{tab.9.testo}}</p>
<p>{{tab.10.testo}}</p>
<p>{{tab.11.testo}}</p>
<p>{{tab.12.testo}}</p>
<p>{{tab.13.testo}}</p>
<p>{{tab.14.testo}}</p>
<p>{{tab.15.testo}}</p>
<p>{{tab.16.testo}}</p>
<p>{{tab.17.testo}}</p>
<p>{{tab.18.testo}}</p>
<p>{{tab.19.testo}}</p>
<p>{{tab.20.testo}}</p>
<p>{{tab.21.testo}}</p>
<p>{{tab.22.testo}}</p>
<p>{{tab.23.testo}}</p>
<p>{{tab.24.testo}}</p>
<p>{{tab.25.testo}}</p>
<p>{{tab.26.testo}}</p>
<p>{{tab.27.testo}}</p>
<p>{{tab.28.testo}}</p>
<p>{{tab.29.testo}}</p>
<p>{{tab.30.testo}}</p>
<p>{{tab.31.testo}}</p>
<p>{{tab.32.testo}}</p>
<p>{{tab.33.testo}}</p>
<p>{{tab.34.testo}}</p>
<p>{{tab.35.testo}}</p>
<p>{{tab.36.testo}}</p>
<p>{{tab.37.testo}}</p>
<p>{{tab.38.testo}}</p>
<p>{{tab.39.testo}}</p>
<p>{{tab.40.testo}}</p>
<p>{{tab.41.testo}}</p>
<p>{{tab.42.testo}}</p>
<p>{{tab.43.testo}}</p>
<p>{{tab.44.testo}}</p>
<p>{{tab.45.testo}}</p>
<p>{{tab.46.testo}}</p>
<p>{{tab.47.testo}}</p>
<p>{{tab.48.testo}}</p>
<p>{{tab.49.testo}}</p>
<p>{{tab.50.testo}}</p>
<p>{{tab.51.testo}}</p>
<p>{{tab.52.testo}}</p>
<p>{{tab.53.testo}}</p>
<p>{{tab.54.testo}}</p>
<p>{{tab.55.testo}}</p>
<p>{{tab.56.testo}}</p>
<p>{{tab.57.testo}}</p>
<p>{{tab.58.testo}}</p>
<p>{{tab.59.testo}}</p>
<p>{{tab.60.testo}}</p>
<p>{{tab.61.testo}}</p>
<p>{{tab.62.testo}}</p>
<p>{{tab.63.testo}}</p>
<p>{{tab.64.testo}}</p>
<p>{{tab.65.testo}}</p>




{%if user.is_authenticated%}

<a  href="/del-u/">Unsubscribe from the site</a>
{%else%}
<a  href="/del-u/"></a>
{%endif%}

{% endblock %}
