{% extends 'quest/base.html'%}
{% load static %}
{% block content %}


<div class="mb-3">
<h1>{{tab.0.testo}}</h1>
</div>

<div class="mb-4">
<p>{{tab.1.testo}}<br>
  {{tab.2.testo}}</p>
</div>

<form action="" method="post" novalidate>
{% csrf_token %}

{{form.errors}}

<div class="form-group mb-3">
{{tab.3.testo}}
<p>{{form.nome}}</p>
</div>

<div class="form-group mb-3">
{{tab.4.testo}}
<p>{{form.cognome}}</p>
</div>

<div class="form-group mb-3">
{{tab.5.testo}}
<p>{{form.telefono}}</p>
</div>

<div class="form-group mb-3">
{{tab.6.testo}}<br>
{{tab.7.testo}}
<p>{{form.data}}</p>
</div>

<div class="form-group mb-4">
{{tab.8.testo}}
<p>{{form.gender}}</p>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
